/* Message Box */
.message-box {
	--color-message-box: var(--paper);

	display: block;
	background-color: var(--color-message-box);
	border: var(--rule);
	padding: 0.625em 0.625em; /* 10px 10px /10 */
}
.message-box ol {
	margin-top: 0;
}

@media (prefers-color-scheme: dark) {
	.message-box {
		--color-message-box: var(--paper);
	}
}
